[user]
	email = akalyan@linkedin.com
	name = Arvind Kalyan
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	b = branch
	rb = pull --rebase
	slog = log --oneline -n 20
	files = show --pretty="format:" --name-only
	ds = diff --stat
